.cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/bg.png");
  background-size: cover;
  background-position: center;
  filter: blur(15px) brightness(0.5);
  transform: scale(1.1);
  z-index: 0;
}

.scanner {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scannerNav {
  width: 95%;
  height: 10%;
  max-height: 80px;
  background-color: #101010;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  border-radius: 20px;
  border: 3px solid #242525;
}
.logoSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.titleSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleSide h1 {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
}
.titleSide p {
  margin: 0;
  font-size: 1rem;
}
.id {
  color: #007aff;
}

.logo {
  font-size: 2rem;
  background-color: #007aff;
  padding: 0.4rem;
  border-radius: 100%;
  color: #fff;
}

subTitle {
  color: #949ba6;
}

.infoSide {
  background-color: rgba(5, 58, 119, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid rgba(5, 58, 119);
  color: #1c70cf;
}

.statusSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #949ba6;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
